/*styles for home content only*/
.container {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
}


.btn {
  float: left;
  position: relative;
  top: 0;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  margin: 0 7px 11px 0;
  color: #888;
  text-align: center;
  user-select: none;
  transition: all 0.2s ease;
}

.btn-large {
  line-height: 80px;
  width: 350px;
  height: 85px;
  font-size: 200%;
  margin: 50px;
  margin-top: 100px;
}

.cancel {
  background: #20C0D8;
  box-shadow: 0px 5px #028d96;
  color: white;
}
.cancel:hover {
  background: #01d1de;
  box-shadow: 0px 4px #006066;
  color: white;
}

/* Imitate a pressed effect for buttons */
.cancel:active {
  top: 4px;
  box-shadow: 0px 0px #d3545d;
}


.code-editor:before,
.code-editor:after,
.code-editor span.control:before,
.code-editor span.after:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	content: '';
	position: absolute;
	z-index: 1;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: wall .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.code-editor {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 40px auto 0 auto;
   	width: 750px;
   	text-align: left;
   	background-color: #473431;
   	border-radius: 0 0 5px 5px;
   	overflow: auto;
   	-webkit-transition: all .5s ease-in-out;
    -moz-transition: wall .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.code-editor:before {
	content: 'Code';
	font-family: 'Consolas';
	color: #222;
	padding-top: 6px;
	text-align: center;
	xtop: 5px;
	width: 750px;
	height: 30px;
	background-color: #fafafa;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}


/* -- iPad Screen -- */
@media only screen and (min-width: 480px) and (max-width: 768px) {
	.code-editor {
   		width: 500px;
	}

	.code-editor:before {
		width: 500px;
	}
}

/* -- iPhone Screen -- */
@media only screen and (max-width: 479px) {
	.code-editor {
		width: 300px;
	}

	.code-editor:before {
		width: 300px;
	}
}




