<div class="container">
  <img class="centered" src="./assets/img/ng2-signalr.png">
  <span class="btn btn-large cancel" (click)="goToDocumentation();">Connect</span>

  <div class="code-editor">
    <pre>
				<code class="language-javascript">
import {{ '{' }} Resolve } from '@angular/router';
import {{ '{' }} SignalR, SignalRConnection } from 'ng2-signalr';
import {{ '{' }} Injectable } from '@angular/core';

@Injectable()
export class ConnectionResolver implements Resolve{{ '<' }}SignalRConnection> {{ '{' }}

    constructor(private _signalR: SignalR)  {{ '{' }}

     resolve() {{ '{' }}
        console.log('HomeRouteResolver. Resolving...');
        return this._signalR.connect();
    }

}



</code></pre>
  </div>

</div>
